/* Main content */

main h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--darkGreen);
}

/* Gender options */

#options-container {
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

#options-container input {
  display: none;
}

#options-container h3 {
  display: flex;
  width: fit-content;
  margin: 20px auto 20px;
}

#options {
  display: flex;
  gap: 20px;
}

.radio-btn {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.radio-btn img {
  width: 100%;
  transition: 0.3 ease-in-out;
}

.radio-btn:hover,
.option-selected {
  font-weight: bold;
  font-size: larger;
}

#options-container label {
  border: none;
  border-radius: 25px;
}
