@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darkGreen);
  font-family: "Roboto", sans-serif;
}

/* Colors */

:root {
  --lightGray: #cccccc;
  --gray: #bfbfbf;
  --darkGreen: #10403b;
  --mintGreen: #8aa6a3;
  --redAlert: red;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGray);
  color: var(--darkGreen);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  gap: 20px;
  padding: 40px;
  border-radius: 25px;
}

/* Buttons */

#buttons-container {
  margin-top: 40px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#selectMessage {
  color: var(--redAlert);
}

#next-btn {
  display: flex;
  background-color: var(--mintGreen);
  color: var(--darkGreen);
  width: fit-content;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#next-btn:hover {
  background-color: var(--darkGreen);
  color: var(--lightGray);
  font-weight: bold;
}

/* Media Querys */

@media screen and (max-width: 600px) {
  main {
    padding: 20px;
    width: 90%;
  }
}
