.progress-container {
  min-width: 100%;
  min-height: 20px;
  background-color: #ccc;
}

#progress-bar {
  height: 20px;
}

#img-container img {
  display: none;
}

/* Colors according to BMI category */
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
